$mainBG: #563d7c;
$mainFC: #563d7c;

.qa-block {
  padding: 35px 20px 20px;
  min-height: 100vh;
  background-color: #fff;
  margin-bottom: 50px;
  .btn {
    display: block;
    background-color: #6a6688;
    width: auto;
    height: 40px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    line-height: 38px;
    padding: 0 20px;
    border-radius: 4px;
    border-color: transparent;
    &:hover {
      opacity: 0.8;
      color: #fff;
    }
  }
}
.qa__heading {
  position: relative;
  &.hasVoteCloud {
    padding-left: 60px;
  }
  h3 {
    font-size: 30px;
  }
  h2 {
    margin-top: 30px;
  }
  .whowhen {
    font-size: 16px;
    .name {
      color: $mainFC;
      font-weight: bold;
    }
  }
  .qa__hint {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    background-color: $mainBG;
    color: #fff;
    min-width: 150px;
    text-align: center;
    padding: 10px 0;
    border-radius: 4px;
  }
}

.qa__descr {
  background-color: #ebeff5;
  padding: 20px;
  margin-top: 10px;
  p {
    font-size: 16px;
    color: #333;
  }
  .btn {
    margin-top: 10px;
  }
  .qa__textbox {
    font-size: 16px;
    height: 100px;
  }
}


.qa__answer {
  margin-top: 20px;
  list-style: none;
  padding-left: 0 !important;
  h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
    a {
      color: $mainFC;
    }
  }
  .whowhen {
    font-size: 12px;
    color: #999;
  }
  & > li {
    border-top: 1px dotted #999;
    padding: 20px 15px 16px;
  }
}

.addComment {
  margin-top: 10px;
  font-size: 13px;
  .btn {
    margin-top: 10px;
    display: inline;
  }
  .qa__textbox {
    font-size: 16px;
    height: 100px;
  }
  .toggle-button {
    color: $mainFC;
    font-weight: bold;
    cursor: pointer;
    margin-left: 0;
    margin-top: 10px;
    &:hover {
      text-decoration: underline;
    }
  }
}

.answer-wrapper {
  padding-left: 60px;
  position: relative;
  p {
    font-size: 13px;
    color: #333;
  }
}

.voteCloud {
  position: absolute;
  top: 3px;
  left: 0;
  width: 50px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #E8BCE1;
  font-size: 20px;
  color: #A34A84;
  border-radius: 4px;
  .voteLink {
    position: absolute;
    bottom: -30px;
    left: 4px;
    font-size: 13px;
    cursor: pointer;
    &.voted {
      color: #000 !important;
      cursor: auto;
      left: 9px;
    }
    &:hover {
      color: $mainFC;
    }
  }
}

.responseList {
  list-style: none;
  padding-left: 0 !important;
  li {
    background-color: #ebeff5;
    padding: 15px;
    margin-bottom: 2px;
    &.viewMore {
      span {
        color: $mainFC;
        cursor: pointer;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    p {
      margin-bottom: 0;
      color: #333;
      display: inline;
    }
    a {
      color: $mainFC;
      font-weight: bold;
    }
    .whowhen {
      display: inline;
      color: #666;
      &:after {
        content: " - ";
      }
    }
  }
}
