<article class="qa__answer">
    <div class="answer-wrapper">
      <h2><a [attr.href]="post.link" style="cursor: pointer">{{post.title}}</a></h2>
      <div class="whowhen">
        <time datetime="2015-03-30 16:59">5 hours ago </time>

        <a href="#">User</a>
      </div>
      <p>{{post.body}}</p>
      <div class="badges">
        <span class="badge badge-info">{{post.tags}}</span>
      </div>
      <div class="voteCloud">
        {{post.answersCount ? post.answersCount : 0}}
        <span class="subText">answers</span>
        <span class="tail"></span>
      </div>
      <div class="voteCloud answers">
        {{post.score ? post.score : 0}}
        <span class="subText">votes</span>
      </div>
    </div>
</article>
