<nb-card>
  <nb-card-body>
    <div class="col-md-12 col-lg-12 col-xxxl-12">
      <nb-card class="own-scroll">
        <nb-list >
          <nb-list-item (click)="navigateToPost(newsPost)" style="cursor: pointer" *ngFor="let newsPost of releases">
            <span>{{newsPost}}</span>
          </nb-list-item>
        </nb-list>
      </nb-card>
    </div>
    <!--<ng2-inner [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">-->
    <!--</ng2-inner>-->
  </nb-card-body>
</nb-card>
