<!--<div class="content hasBg qa-block">-->
<!--<div class="qa__heading hasVoteCloud">-->
  <!--<h3>Question Title</h3>-->
  <!--<div class="whowhen">-->
    <!--<a class="name" href="#">Jessica M.</a>-->
    <!--asks-->
    <!--<time datetime="2014-12-18 16:59">on April 10, 2019</time>-->
  <!--</div>-->
  <!--<div class="voteCloud">-->
    <!--14-->
    <!--<div class="voteLink">-->
      <!--<i class="far fa-thumbs-up"></i>-->
      <!--vote-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="qa__hint">10 ansvers</div>-->
<!--</div>-->
<!--<div class="qa__descr">-->
  <!--<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>-->
  <!--<form class="clearfix">-->
    <!--<textarea class="qa__textbox form-control" placeholder="Write your answer, or answer later"></textarea>-->
    <!--<button class="btn">Respond To Question</button>-->
  <!--</form>-->
<!--</div>-->
<!--<div class="qa__heading">-->
  <!--<h2>10 Answers</h2>-->
<!--</div>-->
<!--<ul class="qa__answer">-->
  <!--<li>-->
    <!--<div class="answer-wrapper">-->
      <!--<h2><a href="#">Stella N.</a></h2>-->
      <!--<div class="whowhen">-->
        <!--answered-->
        <!--<time datetime="2015-03-30 16:59">5 hours ago</time>-->
      <!--</div>-->
      <!--<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>-->
      <!--<div class="voteCloud">-->
        <!--14-->
        <!--<div class="voteLink">-->
          <!--<i class="far fa-thumbs-up"></i>-->
          <!--vote-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="addComment">-->
      <!--<textarea class="qa__textbox form-control" placeholder="Use comments to ask for more information or suggest improvements. Avoid answering questions in comments."></textarea>-->
      <!--<button class="btn">Add Comment</button>-->
    <!--</div>-->
  <!--</li>-->
  <!--<li>-->
    <!--<div class="answer-wrapper">-->
      <!--<h2><a href="#">Stella N.</a></h2>-->
      <!--<div class="whowhen">-->
        <!--answered-->
        <!--<time datetime="2015-03-30 16:59">5 hours ago</time>-->
      <!--</div>-->
      <!--<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>-->
      <!--<div class="voteCloud">-->
        <!--14-->
        <!--<div class="voteLink voted">-->
          <!--voted-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="addComment">-->
      <!--<div class="toggle-button">Add a comment</div>-->
    <!--</div>-->
  <!--</li>-->
  <!--<li>-->
    <!--<div class="answer-wrapper">-->
      <!--<h2><a href="#">Stella N.</a></h2>-->
      <!--<div class="whowhen">-->
        <!--answered-->
        <!--<time datetime="2015-03-30 16:59">5 hours ago</time>-->
      <!--</div>-->
      <!--<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>-->
      <!--<div class="voteCloud">-->
        <!--14-->
        <!--<div class="voteLink">-->
          <!--<i class="far fa-thumbs-up"></i>-->
          <!--vote-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="addComment">-->
      <!--<textarea class="qa__textbox form-control" placeholder="Use comments to ask for more information or suggest improvements. Avoid answering questions in comments."></textarea>-->
      <!--<button class="btn">Add Comment</button>-->
    <!--</div>-->
  <!--</li>-->
  <!--<li>-->
    <!--<div class="answer-wrapper">-->
      <!--<h2><a href="#">Stella N.</a></h2>-->
      <!--<div class="whowhen">-->
        <!--answered-->
        <!--<time datetime="2015-03-30 16:59">5 hours ago</time>-->
      <!--</div>-->
      <!--<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>-->
      <!--<div class="voteCloud">-->
        <!--14-->
        <!--<div class="voteLink">-->
          <!--<i class="far fa-thumbs-up"></i>-->
          <!--vote-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="addComment">-->
      <!--<div class="toggle-button">Add a comment</div>-->
    <!--</div>-->
  <!--</li>-->
  <!--<li>-->
    <!--<div class="answer-wrapper">-->
      <!--<h2><a href="#">Stella N.</a></h2>-->
      <!--<div class="whowhen">-->
        <!--answered-->
        <!--<time datetime="2015-03-30 16:59">5 hours ago</time>-->
      <!--</div>-->
      <!--<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>-->
      <!--<div class="voteCloud">-->
        <!--14-->
        <!--<div class="voteLink">-->
          <!--<i class="far fa-thumbs-up"></i>-->
          <!--vote-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="addComment">-->
      <!--<textarea class="qa__textbox form-control" placeholder="Use comments to ask for more information or suggest improvements. Avoid answering questions in comments."></textarea>-->
      <!--<button class="btn">Add Comment</button>-->
    <!--</div>-->
  <!--</li>-->
  <!--<li>-->
    <!--<div class="answer-wrapper">-->
      <!--<h2><a href="#">Stella N.</a></h2>-->
      <!--<div class="whowhen">-->
        <!--answered-->
        <!--<time datetime="2015-03-30 16:59">5 hours ago</time>-->
      <!--</div>-->
      <!--<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>-->
      <!--<div class="voteCloud">-->
        <!--14-->
        <!--<div class="voteLink">-->
          <!--<i class="far fa-thumbs-up"></i>-->
          <!--vote-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="addComment">-->
      <!--<div class="toggle-button">Add a comment</div>-->
    <!--</div>-->
  <!--</li>-->
<!--</ul>-->
<!--</div>-->
<nb-card>
  <nb-card-body>
    <div class="search-wrapper">
      <input type="text" placeholder="Search your keywords..." class="form-control" (keydown)="onKeydown($event)"/>
      <i class="fas fa-search"></i>
    </div>
    <div class="col-md-12 col-lg-12 col-xxxl-12">
      <nb-card class="own-scroll">
        <nb-list>
          <nb-list-item (click)="navigateToQuestion(newsPost)" *ngFor="let newsPost of firstCard.news">
            <ngx-news-post [post]="newsPost"></ngx-news-post>
          </nb-list-item>
        </nb-list>
      </nb-card>
    </div>
    <!--<ng2-inner [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">-->
    <!--</ng2-inner>-->
  </nb-card-body>
</nb-card>

