<nb-card>
  <nb-card-header>
    Smart Table Projects
  </nb-card-header>

  <nb-card-body>
    <div class="row">
      <div class="col-lg-12">
            <div class="row full-name-inputs">
              <div class="col-sm-1 input-group">
              </div>
              <div class="col-sm-8 input-group center-block">
                <input type="text" placeholder="Search" class="form-control"/>
              </div>
              <div class="col-sm-2 input-group">
                <button (click)="onClick()" class="w-100" nbButton>Search</button>
              </div>
              <div class="col-sm-1 input-group">
              </div>
            </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-12 col-xxxl-12 mt-5">
      <nb-card class="own-scroll">
        <nb-card-header>Own Scroll</nb-card-header>
        <nb-list
          nbInfiniteList
          [threshold]="500"
          (bottomThreshold)="loadNext(firstCard)">
          <nb-list-item *ngFor="let newsPost of firstCard.news">
            <ngx-news-post [post]="newsPost"></ngx-news-post>
          </nb-list-item>
          <nb-list-item *ngFor="let _ of firstCard.placeholders">
            <ngx-news-post-placeholder></ngx-news-post-placeholder>
          </nb-list-item>
        </nb-list>
      </nb-card>
    </div>
    <!--<ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">-->
    <!--</ng2-smart-table>-->
  </nb-card-body>
</nb-card>
