<nb-card>
  <nb-card-body>
    <div class="search-wrapper">
      <input type="text" placeholder="Search your keywords..." class="form-control" (keydown)="onKeydown($event)"/>
      <i class="fas fa-search"></i>
    </div>
    <div class="col-md-12 col-lg-12 col-xxxl-12">
      <nb-card class="own-scroll">
        <nb-list>
          <nb-list-item *ngFor="let newsPost of firstCard.news">
            <ngx-news-post [post]="newsPost"></ngx-news-post>
          </nb-list-item>
        </nb-list>
      </nb-card>
    </div>
    <!--<ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">-->
    <!--</ng2-smart-table>-->
  </nb-card-body>
</nb-card>
